html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #0c438B;
    font-family: 'Rajdhani';
}

/*#logo {*/
/*position: absolute;*/
/*top: 0px;*/
/*z-index: 1;*/
/*text-align: center;*/
/*width: 100%;*/
/*height: 100%;*/

/*}*/

.logo {
    width: 100px !important;
    height: 100px !important;
    margin: 32px 0 0
}

#zero {
    padding: 56px 0;
}

.rajdhani {
    font-family: 'Rajdhani';
}

.lato {
    font-family: 'Lato';
}

.noto {
    font-family: 'Noto Serif';
}

.fredoka {
    font-family: 'Fredoka One';
}

.cabin {
    font-family: 'Cabin Sketch'
}

.intro {
    font-size: 3.4rem;
}

.title {
    font-size: 3rem;
}

.titlet {
    font-size: 2.4rem;
}

.azure {
    background-color: azure;
}

.level3 {
    background-color: #54f9ff;
    color: white;
}

.darkblue {
    background-color: #0a234b;
    background-image: url("../img/dark-background.png");
    background-repeat: repeat;
    color: white;
}

.button-black {
    background-color: #0a234b;
    border-color: #0a234b;
}

.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: #0a234b;
}

.button-black.button-clear {
    border-color: transparent;
}

.padded {
    padding-top: 24px;
    padding-bottom: 24px;
}

.paddedTop {
    padding-top: 24px;
    padding-bottom: 4px;
}

.bigger {
    font-size: 120% !important;
}

.smaller {
    font-size: 90%;
}

.smaller2 {
    font-size: 80%;
}

.padded64 {
    padding-top: 64px;
}

.centered {
    text-align: center;
}

.bluebkg {
    background-image: url("../img/blue-background.png");
    background-repeat: repeat;
}

/*.bitPadded {*/
/*padding-left:8px;*/
/*padding-right:8px;*/
/*}*/

.bitPadded p {
    color: #0c438B;
}

.bitPadded, .bitPadded2 {
    padding: 16px !important;
}

.rounded {
    border-radius: 8px;
    padding: 8px 12px;
}

.bottomBordered {
    border-bottom: 1px solid #54f9ff;

}

.spaced {
    margin: 0 8px 0;
}

/*#particle-canvas {*/
/*display: none;*/
/*}*/

#particle-canvas {
    display: none;
    top: 0;
    width: 10px;
    height: 10px;
    z-index: 0;
    height: 275px;
}

.menuContainer {
    display: none;
}

.fulllogo {
    width: 40rem;
    margin: 10px 0;
}

@media screen and (min-width: 40.0rem) {

    .title {
        font-size: 4rem;
    }

    .bitPadded, .bitPadded2 {
        padding: 46px 16px !important;
    }

    #particle-canvas {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        display: block;
    }

    .bordered {
        border-left: 1px solid #54f9ff;
        border-right: 1px solid #54f9ff;
    }

    .bottomBordered {
        border-bottom: none;

    }

    .logo {
        width: 140px !important;
        height: 140px !important;
        width: 40rem;
        margin: 76px 0 0
    }

    .titlet, .subtitle {
        font-size: 2.8rem;
    }

    .ttop {
        width: 100%;
        height: 3px;
        background-color: #0a234b;
        position: fixed;
        z-index: 3;
    }

    /*#particle-canvas {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display:block;*/
    /*}*/
    .lightgrey {
        background-color: #fafbfd;
    }

    .menuContainer {
        width: 100%;
        border-bottom: 1px solid #f0f4f8;
        height: 51px;
        display: block;
        background-color: #fafbfd;
    }

    .menuContainer .smallLogo {
        float: left;
        display: inline;
        margin-left: 30px;
    }

    .menuContainer .smallLogo img {
        width: 130px;
        margin: 10px 0 0;
    }

    .menuContainer .menu {
        float: right;
        height: 51px;
        padding-top: 20px;
        padding-right: 30px;
    }

    .menuContainer .menuLeft {
        display: none;
    }

    .menuContainer.original {
        text-align: center;
        /*background-color: transparent;*/
    }

    .menuContainer.original .smallLogo {
        display: none;
        margin-left: 30px;
    }

    .menuContainer.original .menu {
        /*float: none;*/
        /*margin-rigth: none;*/
    }

    .menuContainer.original .menuLeft {
        display: block;
        float: left;
        height: 51px;
        padding-top: 20px;
        padding-left: 30px;
    }

    .fulllogo {
        width: 40rem;
        margin: 100px 0 40px;
    }

    .onTitle {
        padding: 32px 0;
    }

    .tinyLogo.spaced {
        margin: 40px 0 32px;
    }

    .m48 {
        margin: 48px 0 0 !important;
    }

    .pb44 {
        padding-bottom: 44px !important;
    }

    .mg44 {
        margin-bottom: 44px !important;
    }

    .pb16 {
        padding-bottom: 16px !important;
    }
}

.mg44 {
    margin-bottom: 36px !important;
}

a {
    color: #00b0d0;
}

.borderLeft {
    border-left-color: #54f9ff;
}

.bgwhite {
    background-color: #fff !important;
}

.darkblue .bitPadded p, .darkblue a {
    color: white;
}

.darkblue a:hover {
    color: #54f9ff;
}

.whiteshadow {
    text-shadow: 1px 1px 1px #fff !important;

}

.leftPadding {
    padding-left: 8px;
}

.bottom0 {
    margin-bottom: 0 !important;
}

.errorMessage, .message {
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    font-family: Lato;
    font-size: 100%;
    margin: 10px 0 20px;
}

.errorMessage {
    color: crimson;
}

.tinyLogo {
    width: 28px;
    margin-bottom: 8px;
}

.francesco {
    width: 80px;
    border: 1px solid #0a234b;
    margin: 6px 12px 0 0;
}

.grey {
    color: #607090;
}

.onWhite {
    padding: 24px 32px;
    margin-bottom: 64px;
    background-color: white;
}
