extends layout

block content

  script(type='text/javascript' src='/js/pre-body.js')
    
  div(id='particle-canvas')

  div(id='logo')
    div
      img(src='/img/0xNIL_logo.png')
    
  script(type='text/javascript' src='/js/particle-network.min.js')
  script(type='text/javascript' src='/js/end-body.js')