doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='css/vendor/bootstrap.css')
  body
    div(id='root')
    script(src='js/vendor/jquery.min.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/bundle.min.js')
