doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Baloo+Bhaijaan|Cabin+Sketch|Rajdhani')
    link(rel='stylesheet', href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='icon', type='image/png', href='/img/favicon.png')
  body
    block content
